.sideBar {
  width: 25rem;
  position: fixed;
  left: 0;
  top: 7.2rem;
  padding-top: 1rem;
  height: 100%;
  gap: 0.5rem;
  background-color: var(--aside-background);
}
.aside-tab {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 4.5rem;
  gap: 4rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  align-items: center;
  color: var(--white);
}
.aside-tab:hover {
  color: var(--orange);
}
.aside-subhead {
  font-size: 1.6rem;
}
.showSide {
  width: 25rem;
  position: fixed;
  left: 0;
  height: 100%;
  gap: 0.5rem;
  padding-top: 1rem;
  top: 7.2rem;
  background-color: var(--aside-background);
}

@media screen and (max-width: 750px) {
  .showSide {
    z-index: 5;
  }
  .show-backdrop {
    position: fixed;
    top: 7.2rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--backdrop);
    z-index: 4;
  }
  .sideBar {
    display: none;
  }
}
