.navbar {
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  border-bottom: 0.2rem solid #eee;

  background-color: var(--background-color);
}
.nav-heading {
  align-items: center;
  cursor: pointer;
}
.nav-logo {
  height: 5rem;
}
.nav-heading-small {
  font-size: 2rem;
  color: var(--white);
}

.nav-search {
  position: relative;
  align-items: center;
}
.search-icon {
  position: absolute;
  left: 2rem;
  color: var(--grey-color);
}
.filter-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.nav-input {
  height: 3.2rem;
  width: 18vw;
  padding-left: 4.5rem;
  border: 0.2rem solid var(--grey-light);
  border-radius: 0.5rem;
}

.saved-item-container {
  gap: 1.4rem;
  align-items: center;
}
.btn-login {
  margin-right: 4rem;
  background-color: var(--primary-light);
}
.saved-item {
  height: 3.5rem;
  align-items: center;
  position: relative;
}

.no-badge {
  position: absolute;
  top: 0.4rem;
  left: 1.5rem;
  height: 1.8rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
  width: 1.8rem;
  border-radius: 50%;
  background-color: var(--primary);
}
.nav-icon {
  color: var(--white);
  margin-right: 1.2rem;
  font-size: 2.5rem;
}
.nav-icon:hover {
  cursor: pointer;
  color: var(--primary-light);
}
.hamburger {
  display: none;
}
.mobile-nav-search {
  display: none;
}
.mobile-search-cont {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 0 2rem;
  }
  .nav-logo {
    height: 4rem;
  }
  .nav-heading-small {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .nav-search {
    display: none;
  }
  .nav-input {
    width: 35vw;
  }
  .mobile-search-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .mobile-nav-search {
    position: relative;
    align-items: center;
    display: flex;
  }
  .nav-icon {
    font-size: 2rem;
  }
  .saved-item {
    align-items: center;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .nav-input {
    width: 50vw;
  }
  .nav-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}
