@import url("https://one8ui.netlify.app/css/components.css");

:root {
  --grey-medium: #adb5bd;
  --white: white;
  --white-light: rgb(231, 220, 220);
  --card-shadow: #adb5bd;
  --red: #cf000f;
  --black: black;
  --orange: #f48c06;
  --background-color: rgb(10, 25, 41);
  --primary-light: #0b77e4;
  --nav-box-shadow: #eee;
  --sidebar-active: #262f44;
  --backdrop: rgba(10, 25, 41, 0.9);
  --aside-background: #122133;
}

[data-theme="light"] {
  --background-color: white;
  --nav-box-shadow: rgb(58, 50, 50);
  --white-light: rgb(48, 44, 44);
  --white: black;
  --backdrop: rgba(255, 255, 255, 0.8);
  --aside-background: rgb(250, 249, 249);
}
.notes-page {
  background-color: var(--background-color);
  height: 100vh;
}
.main-cont {
  padding-top: 2rem;
  background-color: var(--background-color);
  gap: 2rem;
}
.sub-container {
  width: 100%;
  height: 100%;
  gap: 3rem;
  padding: 2rem 2rem 3rem 0;
  margin-left: 33rem;
}

@media screen and (max-width: 750px) {
  .sub-container {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 550px) {
  .sub-container {
    margin-left: 0;
    padding: 2rem 1rem 3rem 0;
  }
}
