.note-card {
  width: 17vw;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.4rem var(--nav-box-shadow);
  height: max-content;
  color: var(--white-light);
}
.note-card-title {
  margin: 0;
}
.note-body {
  gap: 0.5rem;
}
.tag {
  padding: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  width: 20%;
  border-color: var(--white-light);
}
.note-card-footer {
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 0 0.5rem 1rem;
}

.note-card-icon {
  cursor: pointer;
  color: var(--orange);
}
